%animation-smooth {
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
}

%centerAlgin {
    top: 50%;
    transform: translate3d(0, -50%, 0)
}

%centerAllAlign {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}

%webkitFontSmooth {
    -webkit-font-smoothing: antialiased;
}