.view_lists {
    background: $lightgrey;
    padding-top: 0;
}

.list_header {
    background-color: white;
    height: 190px;
    border-bottom: 1px solid #d4d8d8;
}

.list-header-h2 {
    font-family: $main;
    font-size: 22px;
    color: $charcoal;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;

    .small {

    }
}

.list_left, .list_right {
    display: inline-block;
    width: 50%;
    float: left;
}

.user-specifics {
    padding: 20px;
}

.users_reset {
}

.user-ext {
    padding: 20px;

    &:hover {
        padding-left: 30px !important;
    }
}

.user_link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.user_detail_cont {
    max-width: 250px;
    height: 35px;
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;

    .field-detail {
        position: absolute;
        top: 49%;
        transform: translateY(-50%);
        font-size: 14px;
        margin-left: 15px;
        width: 300px;

        .admin-tag {
            display: inline-block;
            margin-left: 15px;
            position: relative;
            left: 0;
            top: 0;
        }
    }
}

.user_profile_picture {
    display: inline-block;
    float: left;
    border-radius: 100px;
    overflow: hidden;
    height: 35px;
}

.user_quick-action {
    float: right;
    max-width: 200px;
    width: 100%;
    text-align: right;

    .u_quick-actions {
      li {
          display: inline-block;

          > a {
              text-decoration: none;
              position: relative;
              z-index: 20;
          }
      }
    }
}

.spacer {
    display: block;
    width: 100%;
    height: 80px;
}