.main-btn {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: $lime;
    color: white;
    border: 0;
    margin-top: 20px;
    font-family: "museo-sans-rounded";
    text-transform: uppercase;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    transition: all 250ms ease;

    &:hover {
        cursor: pointer;
        background-color: $limeHover;
    }

    &:active {
        cursor: pointer;
        background-color: #099946;
    }

    &:focus {
        outline: none;
    }
}