.checkbox {
    display:inline-block;
    position:relative;
    text-align:left;
    width: 40px;
    height: 20px;
    background-color:#484850;
//    overflow:hidden;
    box-shadow:inset 0 10px 25px rgba(0,0,0, .5), 0px 1px 2px rgba(255, 255, 255, 0.21);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    margin:10px 10px 10px 0;
}

.checkbox input {
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:150px;
    height:100%;
    margin:0 0;
    cursor:pointer;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:10;
}

.checkbox label {
    background-color:#6E7484;
    background-image:-webkit-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:-moz-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:-ms-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:-o-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    -webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.7);
    -moz-box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.7);
    box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.7);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    display:inline-block;
    width:18px;
    text-align:center;
    font:bold 10px/28px Arial,Sans-Serif;
    color:#999;
    text-shadow:0 -1px 0 rgba(0,0,0,0.7);
    -webkit-transition:margin-left 0.2s ease-in-out;
    -moz-transition:margin-left 0.2s ease-in-out;
    -ms-transition:margin-left 0.2s ease-in-out;
    -o-transition:margin-left 0.2s ease-in-out;
    transition:margin-left 0.2s ease-in-out;
    margin:1px;
    font-size: 6px;
    height: 18px;
    line-height: 21px;
    text-indent: -9999em;
}

.checkbox label:before {
    content:attr(data-off);
}

.checkbox input:checked + label {
    margin-left: 21px;
    background-color: #2ecc71;
    font-size: 6px;
    height: 18px;
    line-height: 21px;
    text-indent: -9999em;
}

.checkbox input:checked + label:before {
    content:attr(data-on);
}