@charset "UTF-8";

@font-face {
  font-family: "admin-font";
  src:url("../../fonts/admin-font.eot");
  src:url("../../fonts/admin-font.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/admin-font.woff") format("woff"),
  url("../../fonts/admin-font.ttf") format("truetype"),
  url("../../fonts/admin-font.svg#admin-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "admin-font", sans-serif !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "admin-font", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-purpose:before {
  content: "a";
}
.icon-gear-setting-2:before {
  content: "b";
}
.icon-gear-setting:before {
  content: "c";
}
.icon-eye-view:before {
  content: "d";
}
.icon-clipboard:before {
  content: "e";
}
.icon-remove-delete-circle:before {
  content: "f";
}
.icon-remove-delete-two:before {
  content: "g";
}
.icon-remove-delete:before {
  content: "h";
}
.icon-talk-chat-bubble:before {
  content: "i";
}
.icon-check-circle:before {
  content: "j";
}
.icon-cloud:before {
  content: "k";
}
.icon-check-mark-2:before {
  content: "l";
}
.icon-check-mark-3:before {
  content: "m";
}
.icon-chevron-down:before {
  content: "n";
}
.icon-information-circle-2:before {
  content: "o";
}
.icon-compose:before {
  content: "p";
}
.icon-bug:before {
  content: "q";
}
.icon-trash-bin:before {
  content: "r";
}
.icon-plus-big:before {
  content: "s";
}
.icon-check-mark:before {
  content: "t";
}
.icon-contacts-social:before {
  content: "u";
}
.icon-storage:before {
  content: "v";
}
.icon-note-file:before {
  content: "w";
}
.icon-photo-image:before {
  content: "x";
}
.icon-inbox-box:before {
  content: "y";
}
.icon-information-circle:before {
  content: "z";
}
.icon-parentheses:before {
  content: "A";
}
.icon-gear-setting-2-1:before {
  content: "B";
}
.icon-star-2:before {
  content: "C";
}
.icon-message-talk:before {
  content: "D";
}
.icon-grid:before {
  content: "E";
}
.icon-albums-outline:before {
  content: "F";
}
.icon-cog:before {
  content: "G";
}
.icon-close-circle:before {
  content: "H";
}
.icon-close-circle-outline:before {
  content: "I";
}
.icon-user-circle-outline:before {
  content: "J";
}
.icon-contacs:before {
  content: "K";
}
.icon-contact-add-2:before {
  content: "L";
}
.icon-contact-2:before {
  content: "M";
}
.icon-wrench:before {
  content: "N";
}
.icon-navicon-round:before {
  content: "O";
}
.icon-navicon:before {
  content: "P";
}
.icon-contact-group:before {
  content: "Q";
}
.icon-more:before {
  content: "R";
}
.icon-keypad-2:before {
  content: "S";
}
.icon-keypad-outline:before {
  content: "T";
}
.icon-gear-cog:before {
  content: "U";
}
.icon-gear-setting-1:before {
  content: "V";
}
.icon-information-small-circle:before {
  content: "W";
}
.icon-close-empty:before {
  content: "X";
}
.icon-check-mark-circle:before {
  content: "Y";
}
.icon-check-mark-circle-outline:before {
  content: "Z";
}
.icon-notes-add:before {
  content: "0";
}
.icon-notes-cancel:before {
  content: "1";
}
.icon-notes-edit:before {
  content: "2";
}
.icon-security-closed:before {
  content: "3";
}
.icon-security-open:before {
  content: "4";
}
.icon-star:before {
  content: "5";
}
.icon-alert:before {
  content: "6";
}
.icon-alert-1:before {
  content: "7";
}
.icon-widget:before {
  content: "8";
}
.icon-torsos:before {
  content: "9";
}
.icon-torso:before {
  content: "!";
}
.icon-list:before {
  content: "\"";
}
.icon-logout:before {
  content: "#";
}
