.inputElement {
    display: block;
    width: 100%;
    padding: 6px;
    height: 35px;
    background-color: rgba(252, 252, 252, 1);
    margin-bottom: 20px;
    border-radius: 5px;
    color: $coal;
    font-family: $main;
    -webkit-font-smoothing: antialiased;

    &.center {
        text-align: center;
    }

    &:focus {
        outline: none;
    }
}