.logo {
    text-decoration: none;
    outline: none;
    color: #fff;
    display: block;
    text-align: center;
    transition: all 200ms ease-out;

    &.xl {
        font-size: 140px;
        height: 140px;
        transform: translateY(-10px);
        position: relative;

    }
}

.logoContainer {
    &:hover {
        .logo {
            color: #2ecc71 !important;
            transform: translateY(-10px) scale(1.2);
            transition: all 200ms cubic-bezier(0,.44,.35,1.95);
        }
    }
}