$main: "museo-sans-rounded",sans-serif;
$headings: "futura-pt",sans-serif;

h1 {
    font-family: $headings;
    font-size: 60px;
    color: $coal;

    .highlight {
        color: $lime;
    }
}

.definition {
    font-family: $main;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    text-indent: 10px;
    margin: 30px 0 5px;
    font-style: italic;
    display: block;
    color: $coal;
}

.definitionExample {
    font-family: $main;
    font-weight: 100;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-indent: 10px;
    margin: 0 0 25px;
    display: block;
}

.bodyText {
    font-family: $main;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: block;
    line-height: 1.8em;
    i {
        font-style: italic;
    }
}

.author {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
}

p {
    color: $coal;
}

.data_container {
    height: 100%;
    width: 100%;
    padding: 35px;

    &.last {
        border-bottom: 0;
    }

}

.full_height {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 80px;
}

.data_push {
    padding: 35px 0 35px 35px;
}