.form-container {
    position: relative;
    z-index: 10;

    &.two-factor {
        top: -120px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 250ms ease;
    }
}

.labelElement {
    color: white;
    font-family: $main;
    font-size: 13px;
    float: right;
    width: 244px;
    line-height: 42px;
    -webkit-font-smoothing: antialiased;
}

.user_form-container {
    background: $white;
    border: 1px solid $gray;
    border-radius: 3px;
    padding: 10px 20px;

    .field-detail {
        font-family: $main;
        font-weight: 500;
        font-size: 13px;
        color: $slate;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .checkbox {
        margin-right: 0 !important;
    }

    .identifier_label {
        font-family: $main;
        font-size: 13px;
        font-weight: 600;
        color: #adadad;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 2px;
        margin: 0 5px;
    }

    .box_container {
        width: 114px;
        display: inline-block;
        height: 40px;
        float: right;
    }

    .settings_field {
        border-bottom: 1px solid $gray;
        position: relative;
        @include animation(all, 250ms, ease);

        &.last {
            border-bottom: 0;
        }

        &:hover {
            padding-left: 10px;
            background: #F7F7F7;
        }
    }
}