.bg_overlay {
    position: absolute;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(207, 207, 207, 0.55);
}


.modal_overlay {
    width: 700px;
    height: 650px;
    background-color: $white;
    z-index: 120;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 3px;
    overflow: hidden;
}

.modal_header {
    h2 {
        padding: 10px 20px;
        color: white;
        background-color: $charcoal;
        font-family: $main;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.modal_view_actions {
    border-bottom: 1px solid $lightgrey;
}

.modal_actions {
    height: 40px;

    li {
        display: inline-block;
        float: left;
        width: 50%;
        position: relative;

        &:before {
            content: "";
            width: 100%;
            bottom: 0;
            position: absolute;
            height: 0;
            left: 0;
            background-color: rgb(212, 216, 216);
            @include animation(all, 250ms, ease);
        }

        &:hover {
            cursor: pointer;
            &:before {
                height: 40px;
            }
        }

        &.active {
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 5px;
                width: 100%;
                background-color: $charcoal;
                @include animation(background, 250ms, ease);
            }

            &:hover {
                &:before {
                    height: 5px;
                    background-color: $charcoal-selected;
                }
            }
        }

        h4 {
            font-family: $main;
            font-weight: 600;
            -webkit-font-smoothing: antialiased;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $slate;
            font-size: 12px;
            position: relative;
            z-index: 10;
            text-decoration: none;
            text-align: center;
            display: block;
        }
    }
}

.modal_views {
    height: 532px;
    position: relative;
    margin: 20px;

    > div {
        position: absolute;
        left: 0;
        top: 0;
        height: 530px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s ease, opacity 350ms ease;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.message_stream {
    .no-data {
        position: absolute;
        width: 280px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
    }
}

.hidden {
    display: none;
}

.new_message {

    label {
        font-family: $main;
        color: $slate;
        font-size: 12px;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
    }

    input {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;

        &:focus, &:active {
            outline: 0;
            -moz-outline: 0;
        }

        &#date_select {
            padding: 10px;
            border: 1px solid $lightgrey !important;
            border-radius: 3px;
            font-family: $main;
            color: $slate;
            font-weight: 500;
            -webkit-font-smoothing: antialiased;
            @include animation(border, 250ms, ease);

            &.picker__input--active {
                border: 1px solid $lime !important;
                outline: 0;
                -moz-outline: 0;
            }
        }

    }

    #photo_upload {
        width: 160px;
        height: 30px;
        text-indent: -79px;
        position: relative;
        margin-left: 40px;
        margin-top: 15px;

        &:before {
            content: "Upload Photo";
            position: absolute;
            top: -5px;
            left: -40px;
            width: 110px;
            height: 30px;
            background: $charcoal;
            text-align: center;
            font-family: $main;
            font-size: 13px;
            line-height: 30px;
            color: $white;
            font-weight: 500;
            -webkit-font-smoothing: antialiased;
            text-indent: 0;
            border-radius: 3px;
            @include animation(background, 250ms, ease);

        }

        &:hover {
            cursor: pointer;
            &:before {
                background: $charcoal-selected;
            }
        }
    }

    textarea {
        width: 100%;
        height: 280px;
        resize: none;
        padding: 10px;
        border: 1px solid $lightgrey !important;
        border-radius: 3px;
        font-family: $main;
        color: $slate;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        @include animation(border, 250ms, ease);

        &:focus, &:active {
            border: 1px solid $lime !important;
            outline: 0;
            -moz-outline: 0;
        }
    }
}

.modal_submit_btn {
    display: block;
    background: $lime;
    font-size: 13px;
    font-family: $main;
    color: white;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    @include animation(background, 250ms, ease);

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        background: $limeHover;
    }
}

.picker {
    &:focus, &:active {
        outline: 0 !important;
        -moz-outline: 0 !important;
    }
}