.admin_navigation {
    position: fixed;
    background: $charcoal;
    left: 0;
    top: 0;
    z-index: 100;
    height: $nav-height;
    width: $nav-width;
    overflow: hidden;

    transform: translate3d(-($nav-width - 80), 0, 0);
    @include animation(transform, 350ms, ease-out);

    @extend %animation-smooth;

    h2, p {
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0;
        @include animation(opacity, 250ms, ease-out);
    }

    &:hover {
        transform: translate3d(0, 0, 0);
        @include animation(transform, 250ms, ease-out);

        .content_overflow {
            transform: translate3d(0, 0, 0);
            @include animation(transform, 250ms, ease-out);
        }

        h2, p {
            opacity: 1;
        }

        .user_info {
            padding: 15px 15px 0 10px;
        }

        .quick-action-container {
            height: 105px;
            @include animation(height, 250ms, ease-out, 350ms);
        }
    }
}

.content_overflow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $nav-width;
    transform: translate3d(($nav-width - 80), 0, 0);
    @include animation(transform, 350ms, ease-out);

    @extend %animation-smooth;
}

.user_info {
    height: 90px;
    width: 100%;
    padding: 15px 15px 0 10px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    @include animation(all, 250ms, ease-out);

    h2 {
        color: white;
        font-family: $main;
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        position: absolute;
        left: 90px;

        @extend %centerAlgin;
        @extend %webkitFontSmooth;
    }

    &:hover {
        background: $lime;
    }
}

.user_image_clip {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    overflow: hidden;

    .user_image {
        height: 60px;
        width: 60px;
        background: #fff;
    }
}

.search-container {
    padding: 20px 15px 10px 10px;
    width: 100%;
    height: 70px;
    background-color: #263B50;
}

.search-bar {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    border-radius: 15px;
    background-color: #102539;
    color: white;
    border: 0;

    &:focus {
        outline: 0;
    }
}

.quick-action-container {
    height: 0;
    overflow: hidden;
    background-color: #263B50;
    @include animation(height, 350ms, ease-out, 350ms);
}

.navigation_actions {
    list-style: none;
    li {
        height: 50px;
        position: relative;

        a {
            text-decoration: none !important;
            font-family: $main;
            -webkit-font-smoothing: antialiased;
            font-size: 12px;
            font-weight: 600;
            line-height: 50px;
            padding: 0 30px 0 27px;
            width: 100%;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
            @include animation(color, 350ms, ease-out);

            i {
                display: inline-block;
                width: 25px;
                height: 25px;
                color: $fog;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &:before {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 19px;
                    color: $fog;
                    @include animation(color, 350ms, ease-out);
                }
            }

            p {
                color: $fog !important;
                margin-left: 35px;
            }

            &:hover {
                cursor: pointer;
                background-color: $charcoal-selected;

                i {
                    &:before {
                        color: $white;
                    }
                }
                p {
                    color: $white !important;
                }
            }
        }
    }
}

.quick-actions {
    height: 25px;
    width: 100px;
    margin: 0 auto 10px;
    position: relative;
    top: 20px;

    li {
        height: 15px;
        width: 15px;
        margin-right: 20px;
        display: inline-block;

        a {
            width: 15px;
            height: 15px;
            display: inline-block;
            text-decoration: none;

            i {
                width: 15px;
                height: 15px;
                color: $fog;
                font-size: 13px;
                display: block;
                @include animation(color, 350ms, ease)
            }

            &:hover {
                i {
                    color: $white;
                }
            }
        }

        &:nth-of-type(3) {
            margin-right: 0;
        }
    }
}

.user_info.active {
    background-color: $lime;
}

.pagination {
    min-height: 35px;
    margin-top: 30px;
    text-decoration: none !important;
    text-align: center;
    line-height: 35px;

    li {
        display: inline-block;
        padding-right: 15px;
        font-family: $main;
        font-size: 12px;

        a, span {
            text-decoration: none;
            font-size: 16px;
            width: 25px;
            display: inline-block;
            background-color: #CFCFCF;
            color: $white;
            @include animation(background, 250ms, ease);
            border-radius: 3px;

            &:hover {
                background-color: $lime;
            }

            &:active {
                background-color: $limeHover;
            }
        }

        &.active {
            color: $charcoal;
            span {
                background: $charcoal;
                color: white;
                border-radius: 3px;

                &:hover {
                    cursor: not-allowed;
                }
            }
        }

        &:nth-of-type(1) {
            float: left;
        }

        &:nth-of-type(1), &:last-of-type {
            text-decoration: none;
            background: $charcoal;
            font-family: $main;
            font-size: 12px;
            padding: 8px 20px;
            min-width: 80px;
            width: auto;
            height: 35px;
            color: $white;
            display: inline-block;
            position: relative;
            min-height: 30px;
            border-radius: 3px;
            line-height: 16px;
            overflow: hidden;
            text-align: center;
            transition: all, 250ms, ease, 0ms;

            a, span {
                background: rgba(0,0,0,0) !important;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 35px;
                line-height: 34px;
                font-family: $main;
                text-decoration: none;
                color: $white;
                font-size: 19px;
            }

            &:hover {
                cursor: pointer;
                background-color: $charcoal-selected;
            }

        }

        &:last-of-type {
            float: right;
        }


        &.disabled {
            display: inline-block;
            width: 80px;
            height: 35px;
            line-height: 18px;
            text-align: center;
            border-radius: 3px;
            background: #CFCFCF;
            font-family: $main;
            font-size: 19px;
            color: white;
            @include animation(all, 250ms, ease);

            a, span {
                color: white;
                background: rgba(0,0,0,0) !important;
            }

            &:hover {
                cursor: not-allowed;
                background: #BAB8B8;
            }

            &:active {
                cursor: not-allowed;
                background: #CFCFCF;
            }
        }

    }
}