.panel {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    padding-left: 80px;
    visibility: hidden;
    transition: visibility 0s linear 250ms, opacity 250ms ease;

    &.active {
        opacity: 1;
        visibility: visible;
        transition-delay:0s;
    }
}