.pax {
    width: 350px;
    min-height: 300px;
    display: inline-block;
    float: left;
    overflow: hidden;
    margin: 0 35px 35px 0;
    background-color: $white;
    border-radius: 3px;
}

.pax_header {
    h2 {
        font-family: $para;
        font-size: 15px;
        color: $white;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        line-height: 36px;
        height: 40px;
        text-indent: 20px;
        background: $lime;
        border-bottom: 3px solid $lightgrey;
        @include animation(background, 250ms, ease);

        &:hover {
            cursor: pointer;
            background: $limeHover;
        }

        i {
            float: right;
            text-align: center;
            width: 20px;
            height: 20px;
            text-indent: 0;
            font-size: 22px;
            line-height: 10px;
            color: white;
            border-radius: 30px;
            position: relative;
            top: 7px;
            right: 11px;
            @include animation(color, 250ms, ease);

            &:hover {
                color: $error;
            }
        }
    }
}

.user_pax_list {
    height: 145px;
    overflow-y: scroll;
    float: left;
    width: 310px;
    margin: 20px auto 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    a.user_container {
        display: block;
        width: 100%;
        height: 56px;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid $lightgrey;
        @include animation(background, 250ms, ease);

        &:last-of-type {
            border-bottom: 0;
        }

        .pax_user_name {
            font-family: $main;
            font-size: 14px;
            text-transform: uppercase;
            color: $charcoal;
            line-height: 36px;
            padding-left: 45px;
        }

        &:hover {
            background: $lightgrey;
        }
    }
}

.pax_admin {
    padding: 20px;
    position: relative;

    label {
        margin-top: 2px;
        display: inline-block;
    }

    .user_profile_picture {
        margin-right: 10px;
    }

    .admin_actions {
        position: absolute;
        top: 25px;
        right: 30px;

        i {
            display: inline-block;
            float: right;
            color: $fog;
            font-size: 20px;
            @include animation(color, 250ms, ease);

            &:hover {
                cursor: pointer;
                color: $lime;
            }
        }
    }
}

.pax_description {
    padding: 0 20px;
    line-height: 1.3em;
    text-align: center;
    margin: 0 10px;
    min-height: 60px;
}

.pax_tabs {
    ul.pax_activators {
        padding: 0 20px;

        li {
            display: inline-block;
            float: left;
            width: 50%;
            position: relative;

            &:before {
                content: "";
                width: 100%;
                bottom: 0;
                position: absolute;
                height: 0;
                left: 0;
                background-color: rgb(212, 216, 216);
                @include animation(all, 250ms, ease);
            }

            &:hover {
                cursor: pointer;
                &:before {
                    height: 40px;
                }
            }

            &.active {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 5px;
                    width: 100%;
                    background-color: $lime;
                    @include animation(background, 250ms, ease);
                }

                &:hover {
                    &:before {
                        height: 5px;
                        background-color: $limeHover;
                    }
                }
            }

            a {
                font-family: $main;
                font-weight: 600;
                -webkit-font-smoothing: antialiased;
                line-height: 40px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: rgb(44, 62, 80);
                font-size: 12px;
                position: relative;
                z-index: 10;
                text-decoration: none;
                text-align: center;
                display: block;
            }
        }
    }
}