.content_container {
    padding: 15px 0 0 80px;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.user-header {
    width: 100%;
    display: block;
    height: 140px;
    padding: 15px 35px 0;

    .left-side, .right-side {
        height: 100px;
        display: inline-block;
        float: left;
    }

    .left-side {
        width: 510px;
    }

    .right-side {
        width: auto;
        float: right;
    }

    .user_profile_picture {
        width: 100px;
        height: 100px;
        background-color: $lightgrey;
        border: 1px solid $gray;
        display: inline-block;
        border-radius: 100px;
        float: left;
        margin-right: 35px;
        overflow: hidden;
    }

    .user_name {
        display: block;
        float: left;
        width: 60%;
        font-family: $main;
        color: $charcoal;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        margin-top: 9px;

        span {
            font-family: $main;
            font-weight: 300;
            color: $fog;
            font-size: 14px;
            text-transform: capitalize;
            position: relative;
            top: -2px;
        }
    }

    .email_address {
        display: block;
        float: left;
        width: 60%;
        font-family: $main;
        font-weight: 100;
        color: $fog;
        font-size: 14px;
        margin: 10px 0;
    }
}

.admin-tag {
    position: absolute;
    left: 250px;
    top: 95px;
    display: block;
    font-family: $main;
    color: $white;
    background-color: $lime;
    width: auto;
    padding: 7px 12px;
    height: 25px;
    border-radius: 90px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    @include animation(background-color, 250ms, ease-in);

    &:hover {
        cursor: pointer;
        background-color: $limeHover;
    }
}

.delete-btn, .save-btn {
    text-decoration: none;
    background: $lime;
    font-family: $main;
    font-size: 12px;
    padding: 8px 20px;
    width: auto;
    color: $white;
    display: inline-block;
    position: relative;
    min-height: 30px;
    border-radius: 3px;
    line-height: 16px;
    overflow: hidden;
    @include animation(all, 250ms, ease);

    &:before {
        position: relative;
        top: 1px;
        padding-right: 3px;
        z-index: 10;
    }

    &:hover {
        cursor: pointer;
        background: $limeHover;
    }

}

.delete-btn {
    &:hover {
        cursor: pointer;
        background: $limeHover;

        .anim_mask {
            transform: translateY(0);
        }
    }

    > p {
        color: white;
        display: inline-block;
        position: relative;
        z-index: 10;
    }

    .anim_mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $error;
        z-index: 1;
        border-radius: 3px;
        -webkit-backface-visibility: hidden;
        perspective: 1000px;
        @include animation(all, 250ms, ease);
        transform: translateY(50px);
    }
}

.btn-cont {
    float: left;
    display: inline-block;

    &:nth-of-type(2) {
        float: right;
        padding-left: 10px;
    }
}