$calc: 1.4%;

.user-group-tabs {
    height: 40px;
    padding: 0 35px;
    border-bottom: 1px solid $gray;
    li {
        display: inline-block;
        float: left;
        padding: 0 $calc;

        &.tab {
            position: relative;

            h3 {
                font-family: $main;
                font-weight: 600;
                -webkit-font-smoothing: antialiased;
                line-height: 40px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $ash;
                font-size: 12px;
                position: relative;
                z-index: 10;

                @media screen and (min-width: 1024px) {
                    font-size: 14px;
                }
            }

            &.inactive {
                &:before {
                    content: "";
                    width: 100%;
                    bottom: 0;
                    position: absolute;
                    height: 0;
                    left: 0;
                    background-color: $gray;
                    @include animation(all, 250ms, ease);

                }

                &:hover {
                    position: relative;
                    cursor: pointer;

                    &:before {
                        height: 40px;
                    }
                }
            }
        }

        &.active {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 5px;
                width: 100%;
                background-color: $lime;
                @include animation(background, 250ms, ease-out);

            }

            &:hover {
                cursor: pointer;

                &:before {
                    background-color: $limeHover;
                }
            }
        }
    }
}