//Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Prevent over scroll (rubber band effect)
html {
  height: 100%;
  overflow: hidden;
}

// Clearfix class
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";

@import "mixins/animations";
@import "config/dimensions";
@import "config/resets";
@import "config/fonts";

//Purpose Colors
@import "colors/main";

//Purpose Elements
@import "elements/typography";
@import "elements/logo";
@import "elements/animate";
//@import "elements/font-icons";
@import "elements/inputs";
@import "elements/buttons";
@import "elements/checkboxes";

//Purpose Components
@import "components/forms";
@import "components/navigation";
@import "components/user-header";
@import "components/user-group-tabs";
@import "components/panels";
@import "components/pax";
@import "components/modals";

//Purpose Pages
@import "login/login-screen";
@import "pages/users";
@import "pages/user";

//Date Picker
@import "elements/date-picker";