$white: #ffffff;
$gray: #d4d8d8;
$slate: #303132;
$lime: #2ecc71;
$limeHover: #15AB54;
$charcoal-selected: #243342;
$ash: #2c3e50;
$charcoal: #34495e;
$lightgrey: #ecf0f1;
$fog: #95a5a6;
$error: #CC2E2E;
$coal: rgb(67, 67, 67);