#loginBody {

    .leftBody, .rightBody {
        position: absolute;
        height: 100%;
        left: 0;
    }

    .leftBody {
        width: 385px;
        padding: 30px;
        z-index: 10;
        background-color: #34495e;

        .outer {
            height: 420px;
            width: 100%;
            padding: 0 45px;
        }

        .sign-in {
            margin-top: 50px;
        }



    }

    .rightBody {
        width: 100%;
        padding: 30px 30px 30px 430px;
    }

}

.outer {

    &.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    &.soft-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 700px;
    }
}